@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;

    /* Design System Colors */
    --mist: #ecf4e8;
    --sprout: #cbf3bb;
    --moss: #abe7b2;
    --harbor: #93bfc7;

    --radius: 12px;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;

    --mist: transparent;
    --sprout: #cbf3bb;
    --moss: #abe7b2;
    --harbor: #93bfc7;
  }
}

@theme {
  --color-mist: var(--mist);
  --color-sprout: var(--sprout);
  --color-moss: var(--moss);
  --color-harbor: var(--harbor);

  --font-heading: var(--font-space-grotesk);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);

  --radius-default: var(--radius);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

.font-data {
  font-family: var(--font-mono), monospace;
}
